* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
  font-family: "Poppins", sans-serif;
}

@import "~bootstrap/scss/bootstrap";

a {
  text-decoration: none;
  color: black;
}
.fixed {
  position: fixed !important;
  background-color: rgb(78, 190, 255) !important;
  top: 0;
}
.navbar {
  width: 100vw;
  display: flex;
  flex-direction: column;
  // position: relative;
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100vw;
    z-index: 3;
    transition: all 0.1s ease-in;
    .menu {
      cursor: pointer;
      display: none;
      margin-left: 2rem;
      font-size: 0.8rem;
      color: red;
      transition: all 0.3s;
      width: 2rem;
      @media (max-width: 960px) {
        display: flex;
        flex-direction: column;
      }
      .bar {
        width: 1.5rem;
        height: 2px;
        border-radius: 25%;
        background-color: black;
        margin-bottom: 0.4rem;
        transition: all 0.3s;
      }
      .one {
        transform: rotate(45deg);
      }
      .two {
        transform: rotate(-45deg);
      }
    }
    .logo {
      width: 3rem;
      object-fit: cover;
      margin-left: 3rem;
      @media (max-width: 960px) {
        margin-left: 0rem;
      }
    }
    .links {
      display: flex;
      align-items: center;
      @media (max-width: 960px) {
        display: none;
      }
      a {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 1.5rem;
        &:hover div {
          width: 100%;
        }
        .select {
          width: 100%;
        }
        div {
          width: 0%;
          background-color: royalblue;
          height: 2px;
          transition: all 0.5s;
        }
      }
    }
    .call {
      font-size: 1.5rem;
      margin-right: 3rem;
    }
  }
  .drawer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-1rem);
    background-color: rgb(78, 190, 255);
    transition: all 1s;
    opacity: 0;
    z-index: -2;
    .links {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .show {
    transform: translateY(0rem);
    opacity: 1;
    z-index: 2;
  }
}

// Slider
.carousel{
  width: 100vw;
  height: 95vh;
  z-index: -2 !important;
  #carousel-item{
   width: 100%;
   height: 100%;
   position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
  }
   .d-block{
     width: 100%;
     height: 95vh;
     object-fit: cover;
   }
   .text{
     display: flex;
     align-items: flex-start;
     flex-direction: column;
     top: 33%;
     color: white;
     z-index: 1;
       @media (max-width: 960px) {
       top: 25%;
       }
     h1{
       font-size: 5.5rem;
       font-weight: 700;
       span{
         color: rgb(78, 190, 255);
       }
       @media (max-width: 1050px) {
         font-size: 3rem;
        //  text-align: center;
       }
       @media (max-width: 400px) {
         font-size: 1.97rem;
         width: 100%;
       }
     }
     p{
       text-align: left;
       max-width: 700px;
       font-size: 1.1rem;
       font-weight: 600;
       margin-left: 0.5rem;
        @media (max-width: 550px) {
        font-size: 1rem;
       }
     }
   }
  }
}


